<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Team Project</title>
		<!-- We are conditionally including test support if the showTests
         variables has been set. -->
		{{#if showTests}}
			<link rel="stylesheet" href="/vendor/mocha.css">
		{{/if}}
		<link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

		<!-- We add the jQuery library because we will be using it
		     to manipulate HTML in the browser. -->
		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	</head>
	<body>
	  <div class="header">
      <img class="header_image" src="/img/ufood_header_logo.png" alt="U-FOOD"/>
	  </div>
	  <div class="content">
		  {{{body}}}
    </div>
		{{#if showTests}}
			<div id="mocha"></div>
			<script src="/vendor/mocha.js"></script>
			<script src="/vendor/chai.js"></script>
			<script>
				mocha.ui('tdd');
				var assert = chai.assert;
			</script>

			<script src="/qa/tests-global.js"></script>
			{{#if pageTestScript}}
				<script src="{{pageTestScript}}"></script>
			{{/if}}
			<script>mocha.run();</script>
		{{/if}}
	</body>
</html>