<h2>Don't just tell your friends, tell everyone!</h2>

<div>
    <strong>U-Food is a student-fueled source for all things food at UMass Amherst</strong>
    <ul class="feature_list">
        <li>
            An up to the minute menu resource for all dining halls
        </li>
        <li>
            An open forum for reviewing UMass food
        </li>
        <li>
            A crowdsourced tool for reporting and finding out how long you're gonna have to wait for food, including:
            <ul>
                <li>
                    How crowded the dining hall is
                </li>
                <li>
                    How long the wait is for Sushi at Hamp, or Stir Fry at Frank
                </li>
                <li>
                    If Berk is out of pizza
                </li>
            </ul>
        </li>
        <li>
            A regularly updated schedule of events, like Jazz Nights at Frank, or Pistachio Weekend at Worcestor
        </li>
    </ul>
</div>
<div>
    <strong>How does it work?</strong>
    <ul class="feature_list">
        <li>
            U-Food parses data from the UMass Dining website to find out what's for dinner tonight
        </li>
        <li>
            Users can report if a dining hall is busy, or if the sushi line is long.
            These reports will stick around for a short amount of time to alert nearby users.
        </li>
        <li>
            For more permanent feedback, users can submit reviews of food that will stick around longer,
            so everyone can know how much you like the Falafel station. Forever.
        </li>
    </ul>
</div>
<div>
    <strong>How can I help?</strong>
    <ul class="feature_list">
        <li>
            Every time you report that a dining hall is busy, or that the burgers are REALLY good,
            you're alerting MILLIONS (eh, THOUSANDS (well, HUNDREDS (okay, TENS))) of other U-Food users
            and helping in the best way. Here at U-Food we always say, don't just tell your friends, tell everyone!
        </li>
    </ul>
</div>
