<form method="post" action="/users/authchange">
    Enter current password:<br>
    <input type="password" name="password" placeholder="Current Password"><br>
    <br>
    Enter new password:<br>
    <input type="password" name="newpass" placeholder="New Password"><br>
    <input type="password" name="newpass2" placeholder="Confirm new password"><br>
    <br>
    <button>Confirm</button>
</form>