<form method="post" action="/users/auth">
    Enter current password:<br>
    <input type="password" name="password" placeholder="Current Password"><br>
    <br>
    Enter new password:<br>
    <input type="password" name="password" placeholder="New Password"><br>
    <input type="password" name="password" placeholder="Confirm new password"><br>
    <br>
    <button>Confirm</button>
</form>