<h1>U-Food is under construction! Here's what it *might* look like in a few weeks!</h1>

<h2>Home View</h2>
<img src="/img/mockups/home_mockup.png" class="mockup_img" alt="Home View"/>

<h2>Dining Hall View</h2>
<img src="/img/mockups/dining_hall_food_selected_mockup.png" class="mockup_img" alt="Dining Hall View"/>

<h2>Login/Signup View</h2>
<img src="/img/mockups/login_or_signup_mockup.png" class="mockup_img" alt="Login/Signup View"/>

<h2>User Profile View</h2>
<img src="/img/mockups/user_profile_mockup.png" class="mockup_img" alt="User Profile View"/>

<h2>Admin View</h2>
<img src="/img/mockups/admin_view_mockup.png" class="mockup_img" alt="Admin View"/>
