<div class='col-md-6'>
  <select name='dining_commons' class='left_center'>
    {{#each dining_commons}}
      <option value='{{this}}'>{{this}}</option>
    {{/each}}
  </select>
</div>

<div class='col-md-6'>
  <select name='food' class='right_center'>
    {{#each foods}}
      <option value='{{this}}'>{{this}}</option>
    {{/each}}
  </select>
</div>

<br>
<br>

<div class='col-md-6'>
  <p>
    This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. 
  </p>
</div>

<div class='col-md-6'>
  <p>
    This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. This is a sample sentence. 
  </p>
</div>
