<div class='login'>
	<img src="/img/ufood_header_logo_black.png" alt="U-FOOD" style="width:500px;height:100px"/>
	<form method="post" action="/users/auth">
	    <input type="text" name="username" placeholder="Username"> <br>
	    <input type="password" name="password" placeholder="Password"> <br>
	    <br>
	    <button>Login</button>
	</form>
	<a href="/users/signup">Don't have an account? Sign up!</a>
</div>
<style>
div.login {
	text-align: center;
}
</style>
