<h1>U-Food is under construction! Here's what it *might* look like in a few weeks!</h1>

<h2 class="title">{{text}}</h2>
<img src="/img/mockups/{{mockup}}" class="mockup_img" alt="Home View"/>

<br/><br/>

//
<a href="/mockups?mockup=admin">Admin</a>
//
<a href="/mockups?mockup=dining_hall_food_selection">Dining Hall</a>
//
<a href="/mockups?mockup=home">Home</a>
//
<a href="/mockups?mockup=login_or_signup">Login or Signup</a>
//
<a href="/mockups?mockup=user_profile">User Profile</a>
//
