<h1>Register New Dining Commons</h1>

<div id="create_dc">
    <form method="post" action="/dining_commons/create">
        <input type="text" name="name" placeholder="Name"> <br>
        <input type="text" name="location" placeholder="Location"> <br>
        <br>
        <button>Done</button>
    </form>
</div>
