<form method="post" action="/users/auth">
    Enter first name and last name:<br>
    <input type="text" name="fname" placeholder="First name"><br>
    <input type="text" name="lname" placeholder="Last name"><br><br>
    Enter a username:<br>
    <input type="text" name="username" placeholder="Username"><br><br>
    Enter a password:<br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="password" name="password2" placeholder="Re-enter password"><br>
    <br>
    Add a short description of yourself! (Optional):<br>
    <textarea name="about" cols="40" placeholder="About me!" rows="5"></textarea><br><br>
    <button>Create Account</button>
</form>