<h1 class="title">The U-Food Team</h1>

{{#each members}}
  <div class="team_member">
    <div class="member_name"><strong>{{this.firstname}} {{this.lastname}}</strong></div>
    <div class="member_desc">{{this.description}}</div>
  </div>
{{/each}}
