*{
    font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
}
.content{
    margin: 20px;
}
.header_image{
    margin: 5px 15px;
    height: 50px;
}
.team_member {
    margin-left: 10px;
    margin-bottom: 10px;
}
.member_name {
    font-size: 20px;
}
.member_desc {
    margin-left: 10px;
    width: 65%;
}
.feature_list li{
    width: 50%;
}
.mockup_img{
    width: 50%;
}
.title{
    text-transform: capitalize;
}
.navbar-umass{
    background-color: #881c1c;
    color: white;
    border-radius: 0;
}
.navbar-brand{
    padding: 5px;
}
.navbar-nav>li>a {
    color: white;
}
.nav>li>a:hover,
.nav>li>a:focus {
    background-color: #c92929;
}
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus{
    background-color: #a92323;
}

.left_center {
    display: inline-block;
    left: 66%;
    position: relative;
}
.right_center {
    display: inline-block;
    left: 33%;
    position: relative;
}
